.user{
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 5px; 
}
.userImg{
   
    float: left;
    width: 250px;
    margin-top: 20px;
    margin-left: 5px;
    padding-left: 10px;
}
.user-option{
    float: left;
    width:400px;
    margin-top: 30px;
    margin-left: 10px;
}
.detail{
   margin-top: 30px;
   padding: 10px;
   text-align: center;
   color: rgb(171, 125, 185);  
}
.button{
    background-color: rgb(116, 127, 228);
    width: 200px;
    height: 30px;
    border: 1px solid lightblue;
    border-radius: 8px;
    cursor: pointer;


}
.name{
    color: rgb(58, 58, 236);
}
.working-place{
    color:rgba(17, 119, 187, 0.685);
}
.income{
    color: goldenrod;
}
.dt{
    color: rgb(207, 148, 168);
}