.user-container{
    display: flex;
 }
.userlist-container{
    width: 85%;
    margin-left: 2px;
    margin-right: 2px;
    border-right: 1px solid lightgray;
}
.cartAndDetails{
    width: 15%;
}
.cart{
    border: 1px solid lightgray;
}
.details{
    border: 1px solid lightgray;
}